@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy-Regular.ttf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Gilroy';
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 14px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.header {
  background: #fafafa;
}

.header .container {
  height: 60px;
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 40px;
}

.header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu ul li {
  margin-left: 40px;
}

.header .menu ul li a {
  font-size: 18px;
  color: #bd0808;
  margin-left: 30px;
}

.header .menu i {
  margin-right: 10px;
}

.header .search {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.header .search input {
  height: 40px;
  background-color: #dddddd;
  width: 350px;
  padding: 0 10px;
}

.header .search button {
  width: 32px;
  height: 34px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 5px;
  background-color: #dddddd;
  color: #cdcccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .container {
  display: flex;
  flex-direction: row;
  border: 1px solid #bd0808;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

section .container .section {
  margin: 10px 0 0 30px;
  width: 30%;
}

section .container .image {
  width: 70%;
  height: 100%;
}

section .container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .section i {
  font-size: 30px;
  color: #bd0808;
  margin-bottom: 20px;
}

section .container .section .first {
  font-size: 20px;
  color: #bd0808;
  margin-bottom: 20px;
}

section .container .section .second {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}



section .container .section a {
  background-color: #bd0808;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73%;
  height: 100%;
  font-size: 16px;
  align-items: center;
  padding: 10px;
}



.banner {
  margin-top: 25px;
}

.banner .container {
  display: flex;
}

.banner .container .budget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 7px 0 7px;
  flex-shrink: 1;
}

.banner .container .budget img {
  width: 150px;
  height: 150px;
}

.banner .container .budget a {
  text-align: center;
  color: #000;
}

.banner .container .budget p {
  margin-top: 10px;
  font-size: 16px;
}

.chance {
  margin-top: 50px;
}

.chance .container {
  display: flex;
}

.chance .container i {
  font-size: 40px;
  color: #bd0808;
}

.chance .container .new {
  margin-left: 20px;
}

.chance .container .new .year {
  font-size: 20px;
  color: #bd0808;
  font-weight: 800;
}

.chance .container .new .chose {
  margin-top: 10px;
  color: #b8b7b7;
}

.middle {
  margin-top: 30px;
}

.middle .container {
  display: flex;
}

.middle .container .card {
  width: 300px;
  height: 490px;
  border: 1px solid #b8b7b7;
  margin: 10px 0 10px 20px;
}

.middle .container .card .photo {
  border-bottom: 1px solid #b8b7b7;
}

.middle .container .card img {
  width: 300px;
  height: 300px;
}

.middle .container .card .info {
  border-bottom: 1px solid #b8b7b7;
}

.middle .container .card .info p {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0 10px;
}

.middle .container .card ul {
  margin: 1px 0px 0 10px;
  padding: 10px;
}

.middle .container .card ul li {
  margin-top: 5px;
  color: #bfbfbf;
  font-size: 13px;
}

.middle .container .card .price {
  display: flex;
  align-items: center;
}

.middle .container .card .price p {
  margin: 10px 0 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.middle .container .card .price i {
  color: #bd0808;
  font-size: 20px;
  margin: 10px 0 0 190px;
}

.oppurtinity {
  margin-top: 30px;
}

.oppurtinity .container {
  display: flex;
}

.oppurtinity .container .body {
  width: 400px;
  height: 400px;
  margin: 10px 0 10px 10px;
}

.oppurtinity .container .body img {
  width: 305px;
  height: 400px;
}

.tech {
  margin-top: 30px;
}

.tech .container {
  display: flex;
}

.tech .container .scent {
  width: 310px;
  height: 400px;
  background-color: #f5f5f5;
  margin: 10px 0 10px 10px;
}

.tech .container .scent img {
  width: 310px;
  height: 200px;
}

.scent-header {
  margin-top: 20px;
}

.scent-header h3 {
  margin-bottom: 10px;
  font-weight: 900;
  margin: 10px 0 0 10px;
}

.scent-parag {
  width: 300px;
  color: #b8b7b7;
  margin: 20px 0 0 10px;
}

.tech .container .scent a {
  margin: 50px 0 0 10px;
  border: 1px solid #bd0808;
  display: block;
  padding: 10px;
  text-align: center;
  color: #bd0808;
  width: 200px;
}

.comment {
  margin-top: 30px;
}

.comment .container {
  display: flex;
}

.comment .container .star {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 230px;
  background-color: #e2e2e2;
  border-radius: 8px;
  margin: 10px 0 0 20px;
}

.comment .container .star i {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #bec201;
}

.comment .container .star img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px 0 0 10px;
}

.comment .container .star .market {
  margin: 10px 0 0 14px;
  color: #000;
  font-weight: bold;
}

.comment .container .star .name {
  margin: 15px 0 0 10px;
}

.comment .container .star .month {
  margin: 15px 0 0 10px;
  color: #bababa;
}

.information {
  margin-top: 70px;
  margin-bottom: 70px;
}

.information .container {
  display: flex;
}

.information .container .free {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 10px;
}

.information .container .free .free-image {
  margin-right: 5px;
}

.information .container .free .free-image i {
  font-size: 70px;
}

.information .container .free .free-info {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.information .container .free .free-info h3 {
  margin-bottom: 10px;
  text-align: center;
}

.information .container .free .free-info p {
  color: #b8b7b7;
  font-size: 15px;
  text-align: center;
}

.follow {
  margin-top: 30px;
  background-color: #bd0808;
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow .follow-us {
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow .follow-us p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.follow .follow-us ul {
  display: flex;
  margin-left: 40px;
}

.follow .follow-us ul li {
  margin-left: 30px;
}

.follow .follow-us ul li a i {
  color: #fff;
  font-size: 45px;
}

footer {
  margin-top: 30px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer .container .bottom {
  margin-left: 100px;
}

footer .container .bottom h3 {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: bold;
}

footer .container .bottom ul li {
  margin-bottom: 20px;
}

footer .container .bottom ul li a {
  color: #4f4f4f;
}

.order {
  margin-top: 30px;
}

.order .container .cargo {
  border-bottom: 1px solid #b8b7b7;
}

.order .container .cargo h3 {
  margin-bottom: 15px;
  font-size: 17px;
}

.order .container .mail {
  margin-top: 20px;
}

.order .container .mail h3 {
  font-size: 17px;
}

.order .container .mail input {
  background-color: #fff;
  border: 1px solid #b8b7b7;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
}


.order .container .number {
  margin-top: 20px;
}

.order .container .number h3 {
  font-size: 17px;
}

.order .container .number input {
  background-color: #fff;
  border: 1px solid #b8b7b7;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
}

.order .container .buton {
  margin-top: 20px;
}

.order .container .buton button {
  background-color: #252525;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.order .container .buton button:hover,
.order .container .transport button:hover {
  background-color: #fff;
  color: #252525;
  transition: 300ms;
  border: 1px solid #252525;
}

.order .container .transport {
  margin-top: 30px;
  width: 650px;
  height: 120px;
  border: 1px solid #b8b7b7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-right: 10px;
}

.order .container .transport button {
  margin-left: auto;
  background-color: #252525;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.order .container .ask {
  display: flex;
}

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.offer h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 5px;
}

.offer i {
  font-size: 30px;
  color: #bd0808;
}

.company {
  margin-top: 30px;
}

.company .container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 1500px;
}

.company .container .photo {
  width: 350px;
  height: 350px;
  background-color: #f5f5f5;
  margin: 10px 0 10px 20px;
}

.company .container .photo img {
  width: 350px;
  height: 200px;
}

.company .container .photo .photo-header h3 {
  margin-bottom: 10px;
  font-weight: bold;
  margin: 15px 0 0 10px;
  font-size: 17px;
}

.company .container .photo .photo-parag {
  width: 300px;
  color: #b8b7b7;
  margin: 20px 0 0 10px;
}

.company .container .photo a {
  margin: 20px 0 0 10px;
  border: 1px solid #bd0808;
  display: block;
  padding: 10px;
  text-align: center;
  color: #bd0808;
  width: 200px;
}

.container .boxes-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b8b7b7;
  width: 600px;
  padding: 15px;
  border-radius: 5px;
}

.boxes p {
  color: #4f4f4f;
  line-height: 1.5em;
}

.container .last {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.container .center {
  width: 600px;
  border: 1px solid #b8b7b7;
  border-radius: 5px;
  padding: 15px;
  height: 400px;
}

.container .center .log {
  display: flex;
}

.container .center .log button {
  width: 300px;
  background-color: #bd0808;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-left: 5px;
  border-radius: 5px;
}

.container .center .log button.tton {
  width: 300px;
  background-color: #fff;
  color: #bd0808;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #bd0808;
  border-radius: 5px;
}

.container .last .center .posta {
  margin-top: 30px;
}

.container .last .center .posta input {
  width: 570px;
  border: 1px solid #b8b7b7;
  padding-left: 10px;
  border-radius: 5px;
  padding: 15px;
  margin-top: 7px;
}

.container .last .center .sign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container .last .center .sign button {
  background-color: #bd0808;
  color: #fff;
  padding: 15px;
  width: 600px;
  border-radius: 5px;
}

.container .last .center .href {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .last .center .href a {
  color: #b8b7b7;
  text-decoration: underline;
}

.year {
  margin-top: 50px;
}

.year .container {
  margin: 0 auto;
  width: 1300px;
}

.year .container h3 {
  font-size: 17px;
}

.year-one {
  margin-top: 20px;
}

.year-one .container {
  margin: 0 auto;
  width: 1300px;
}

.year-one .container .product-one {
  background-color: #f1f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
}

.year-one .container .product-one .product {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.year-one .container .product-one .product span {
  margin-left: 5px;
}

.year-one .container .product-one .other-one {
  margin-left: auto;
  display: flex;
}

.year-one .container .product-one .other-one .other {
  margin-left: 10px;
}

.year-one .container .product-one .other-one .other a {
  color: #656565;
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
}

.best {
  margin-top: 30px;
}

.best .container {
  margin: 0 auto;
  width: 1300px;
}

.best .container .card-one {
  display: flex;
  flex-wrap: wrap;
}

.best .container .card-one a {
  color: #000;
}

.best .container .card {
  width: 300px;
  height: 490px;
  border: 1px solid #b8b7b7;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.best .container .card .photo {
  border-bottom: 1px solid #b8b7b7;
}

.best .container .card img {
  width: 300px;
  height: 300px;
}

.best .container .card .info {
  border-bottom: 1px solid #b8b7b7;
}

.best .container .card .info p {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0 10px;
}

.best .container .card ul {
  margin: 1px 0px 0 10px;
  padding: 10px;
}

.best .container .card ul li {
  margin-top: 5px;
  color: #bfbfbf;
  font-size: 13px;
}

.best .container .card .price {
  display: flex;
  align-items: center;
}

.best .container .card .price p {
  margin: 10px 0 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.best .container .card .price i {
  color: #bd0808;
  font-size: 20px;
  margin: 10px 0 0 190px;
}

.basket {
  margin-top: 30px;
}

.basket .container {
  display: flex;
  gap: 10px;
}

.basket .container .product-image {
  display: flex;
  flex-direction: column;
}

.basket .container .basket-one {
  width: 650px;
  border-radius: 5px;
  height: 700px;
  background-color: #b8b7b7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket .container .product-bottom-galery {
  background-color: red;
  width: 650px;
  height: 100px;
}

.basket .container .basket-two {
  background-color: #fff;
  border: 1px solid #656565;
  width: 650px;
  height: 300px;
  border-radius: 5px;
  padding: 20px;
}

.basket .container .basket-two ul {
  display: flex;
  justify-content: space-between;
}


.basket .container .basket-two button {
  border: 1px solid #bd0808;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.basket-three {
  margin-top: 20px;
  width: 690px;
  border: 1px solid #656565;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.basket-three ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-three ul li {
  margin-left: 45px;
}

.basket-three ul li i, span {
  font-size: 20px;
  color: #000;
  margin-left: 5px;
}

.basket-four {
  margin-top: 30px;
  border: 1px solid #656565;
  display: flex;
  width: 650px;
}

.basket-four .help-center {
  background-color: #bd0808;
  width: 300px;
}


.basket-four .faq {
  display: flex;
  flex-direction: column;
}

.faq-header-top {
  margin-top: 30px;
}

.faq-header-top .container {
  margin: 0 auto;
  width: 1400px;
}

.faq-header{
  font-size: 32px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}


.panel-title {
  font-size: 20px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

.similar {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.similar h3 {
  font-size: 20px;
}

.card-wrapper{
  margin-top: 30px;
}

.card-wrapper .container {
  margin: 0 auto;
  width: 1300px;
}
img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  margin-top: 30px;
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-massage{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-lastone h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-lastone p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-lastone ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-lastone ul li{
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-lastone ul li span{
  font-weight: 400;
}
.purchase-bottom{
  margin: 1.5rem 0;
}
.purchase-bottom input,
.purchase-bottom .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-bottom input{
  width: 60px;
}
.purchase-bottom .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-bottom .btn:first-of-type{
  background: #256eff;
}
.purchase-bottom .btn:last-of-type{
  background: #f64749;
}
.purchase-bottom .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #bd0808;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px){
  .kard{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
}